### Disttribution folder
dist/
### Dependencies
node_modules/
jspm_packages/

### VisualStudioCode template
.settings
.vscode

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
*.iml
.idea/
